::selection {
  background: #d9fbd7;
}


h1, h2, h3, h4, h5, h6, body {
	font-family: "Apercu Mono Regular", "Inconsolata", Menlo, Roboto, monospace, sans-serif;	

}

h3 {
	font-size: 2.25em;
	padding-top: 8%;
	margin-bottom: 20%;
}


h4 {
	padding-top: 20%;
}


h4 a {
	text-decoration: none;
}


body {
	font-size: 0.85em;
	padding: 0;
	margin: 0;
	font-weight: 400;
	line-height: 4;
	color: #333333; 
	background: #fafafa;  
}


p {
	line-height: 1.75; 
}



a {
  color: #333333;
  text-decoration: underline;
  background-color: #;  
  line-height: inherit;
  cursor: pointer;
  transition: all 0.2s ease-out;
 }
  

a:hover, a:focus {
	color: #1e1e1e; 
	background-color: #fdf6ae;
}	