::selection {
  background: #81838f;
}


h1, h2, h3, h4, h5, h6, body {
	color: #dbdbdb; 
	background: #0e0f18;  
}

  
bodyspan {
	background-color: yellow; 
}


a {
  color: #ededed;
  text-decoration: underline;
  line-height: inherit;
  cursor: pointer;
  transition: all 0.2s ease-out;
 }
  

a:hover, a:focus {
	color: white; 
	background-color: #4c4f5f;
}	